/.coverage
/ignore/*
/application/__init__.pyc
/application/__pycache__/
/application/static/346199.jpg
/application/static/book.png
/application/static/intro-bg.jpg
/htmlcov/
/__pycache__/
/.pytest_cache/
/venv/
/test/__pycache__/*
/application/venv/*
/Shaybs_assessment/*
**/*.pyc
