[Unit]
Description=Flask Application
[Service]
User=pythonadm
WorkingDirectory=/opt/flask-app
ExecStart=/bin/bash -c 'cd /opt/flask-app && source ~/.bashrc && source ./venv/bin/activate && gunicorn --bind=0.0.0.0:5000 --workers=4 application:app'
[Install]
WantedBy=multi-user.target
