[Unit]
Description=Flask Application
[Service]
User=pythonadm
WorkingDirectory=/opt/flask-app
ExecStart=/bin/bash -c 'cd /opt/flask-app && source ~/.bashrc && source ./venv/bin/activate && python ./app.py'
[Install]
WantedBy=multi-user.target
