{% extends "layout.html" %}
{% block body_content %}
	<h1>Books Page</h1>
	
	<div class="container">
		<div class="row">
			<div class="col md-12">
				
				<h2>Books List <button type="button" class="btn btn-success pull-right" data-toggle = "modal" data-target = "#mymodal" >Add Book Data</button> </h2>

				<table class="table table-striped">
					
					<tr>
						<th>Book Name</th>
						<th>Author</th>
						<th>Description</th>
						<th>Rating</th>
						<th>Action</th>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>

						<td>
							<a href=""  class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
							<a href=""  class="btn btn-danger btn-xs" onclick="return confirm('Are you certain you want to delete?')" data-target="#modaledit">Delete</a>
						</td>
					</tr>


				</table>

			</div>
			
		</div>
	</div>

<div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Please Insert Data</h4>


         </div>


         <div class="modal-body">


            <form action="" method="POST">


               <div class="form-group">


                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">


               </div>


                <div class="form-group">


                  <label>Email:</label>
                  <input type="text" class="form-control" name="email" required="1">


               </div>


                <div class="form-group">


                  <label>Phone:</label>
                  <input type="text" class="form-control" name="phone" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Insert Data</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>



	{% for book in books %}
		<div>
			<h3>{{ book.book }} {{ book.rating }}</h3>
			<p> -- {{ book.description }}</p>
		</div>
	{% endfor %}

        <div class="form">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                                {{ form.book.label }}
                                {% if form.book.errors %}
                                        {{ form.book }}
                                        <div class="error">
                                                {% for error in form.book.errors %}
                                                        <span>{{ error }}</span>
                                                {% endfor %}
                                        </div>
                                {% else %}
                                                {{ form.book }}
                                {% endif %}
                        </div>
                        <br>
						<div class="form-group">
							{{ form.author.label }}
							{% if form.author.errors %}
								{{ form.author }}
								<div class="error">
									{% for error in form.author.errors %}
										<span>{{ error }}</span>
									{% endfor %}
							{% else %}
									{{ form.author }}
							{% endif %}
						</div>
						<br>
						<div class="form-group">
							{{ form.description.label }}
							{% if form.description.errors %}
								{{ form.description }}
								<div class="error">
									{% for error in form.description.errors %}
										<span>{{ error }}</span>
									{% endfor %}
							{% else %}
									{{ form.description }}
							{% endif %}
						</div>
						<br>
						<div class="form-group">
							{{ form.rating.label }}
							{% if form.rating.errors %}
								{{ form.rating }}
								<div class="error">
									{% for error in form.rating.errors %}
										<span>{{ error }}</span>
									{% endfor %}
							{% else %}
									{{ form.rating }}
							{% endif %}
						</div>
						<br>
                        <!-- other fields...-->
                       	<div class="form-group">
                                {{ form.submit }}
                        </div>
                </form>
        </div>

{% endblock body_content %}
