{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}
    {% if add_book %}
        Add Book
    {% else %}
        Edit Book
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_book %}
                <h1>Add Book</h1>
            {% else %}
                <h1>Edit Book</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}