{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body_content %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
					<h1>Home Page</h1>
					<p>Welcome to this web app!</p>
					{% for post in posts %}
						<div>
							<h3>{{ post.title }}</h3>
							<span>by <i>{{ post.author.first_name }} {{ post.author.last_name }}</i></span>
							<span>on the <i>{{ post.date_posted }}</i></span>
							<p> -- {{ post.content }}</p>
						</div>
					{% endfor %}
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
	
{% endblock body_content %}
