{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block body_content %}
<div class="content-section">
  <div class="center">
    <h1>Register for an account</h1>
    <br/>
    {{ wtf.quick_form(form) }}
    <form method=POST enctype=multipart/form-data action="upload_post">
    {{ form.hidden_tag() }}
    {{ form.first_name.label }}
    {{ form.first_name }}
    <br>
    {{ form.last_name.label }}
    {{ form.last_name }}
    <br>
    {{ form.username.label }}
    {{ form.username }}
    <br>
    {{ form.email.label }}
    {{ form.email }}
    <br>
    {{ form.password.label }}
    {{ form.password }}
    <br>
    {{ form.confirm_password.label }}
    {{ form.confirm_password }}
    <br>
    {{ form.image.label }}
    {{ form.image }}
    <br>
    {{ form.filename.label }}
    {{ form.filename }}
    <br>
    {{ form.submit }}
</form>
  </div>
</div>				
{% endblock body_content %}

