{% extends "layout.html" %}
{% block body_content %}
	<h1> Register </h1>
	<p>Need an account? Sign up!</p>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.email.label }}
				{% if form.email.errors %}
					{{ form.email }}
					<div=class="error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.email }}
                                {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
				{{ form.password.label }}
				{% if form.password.errors %}
					{{ form.password }}
					<div=class="error">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.password }}
                                {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
				{{ form.confirm_password.label }}
				{% if form.confirm_password.errors %}
					{{ form.confirm_password }}
					<div=class="error">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.confirm_password }}
                                {% endif %}
                        </div>
                        <br>
                        <!----other fields---->
                        <div class="form-group">
                            {{ form.submit }}
                        </div>
                </form>
        </div>					
{% endblock body_content %}

