{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}
    {% if add_review %}
        Add Review
    {% else %}
        Edit Review
    {% endif %}
{% endblock %}
{% block body_content %}
    
<div class="content-section">
    <div class="center">
        <br>
        {% if add_review %}
            <h1>Add Review</h1>
        {% else %}
            <h1>Edit Review</h1>
        {% endif %}
        <br/>
        {{ wtf.quick_form(form) }}
    </div>
</div>          

{% endblock body_content %}
