<form method=POST enctype=multipart/form-data action="upload_post">
    {{ form.hidden_tag() }}
    {{ form.image.label }}
    {{ form.image }}
    <br>
    {{ form.filename.label }}
    {{ form.filename }}
    <br>
    {{ form.submit }}
    <!--<input type=file name=myfile>
    --<input type=submit>-->
</form>



<!--
<div class="form">
<form method="POST" action="">
{{ form.hidden_tag() }}
{{ form.first_name.label }}
{{ form.first_name }}
<br>
{{ form.last_name.label }}
{{ form.last_name }}
<br>
{{ form.title.label }}
{{ form.title }}
<br>
{{ form.content.label }}
{{ form.content }}
<br>
{{ form.submit }}
</form>
</div> -->